*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.column {
float: left;
padding: 12px;
min-height: 350px;
}

.left-side {
width: 65%;
}

.right-side {
width: 35%;
}

.both-rows:after {
content: "";
display: table;
clear: both;
}

