*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper{
  width: 80%;
  height: fit-content;
}

.swiper-slide img{
  width: 50%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: #7babe1;

}

.swiper .swiper-pagination-bullet-active{
  background: #7babe1;
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9){
  .back-video{
   width: 100%;
   height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .back-video{
   width: auto;
   height: 100%;
  }
}